*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: linear-gradient(#90EE90, #00008B);
    width: 90%;
    max-width: 470px;
    position: relative;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
}

.search{
align-items: center;
display: flex;
justify-content: space-between;
}

.search input{
   border: 0;
    outline:0;
    border-radius: 25px;
    background: #FFFFF7;
    width: 50px;
    height: 40px;
    margin-right: 15px;
    display: flex;
    flex: 1;
}

.search button{
     border: 0;
    outline:0;
    border-radius: 25px;
    background: #FFFFF7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    width: 16px;

}

.weather img{
    width: 200px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 80px;
    color: antiquewhite;
}

.weather h2{
    font-size: 40px;
    color:antiquewhite;
    margin-top: -6px;
}
 .details {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
margin-top: 50px;
 }

.col img {
    width: 50px;
}

.humidity, .wind-speed {
 font-size: 20px;
 color: antiquewhite;
 margin-top: -60px;
}

.weather {
    display: none;
}

.card .credit {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    font-size: 13px;
    color: rgba(255,255,255,0.95);
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: center;
}